.App {
    margin-left: 20px;
}

.single-film-details {
    list-style: none;
}

#app-title {
    text-align: center;
}

#film-selector {
    text-align: center;
    display: block;
    margin: auto;
}

.film-image {
    max-height: 250px;
    max-width: 300px;
    float: right;
    margin-right: 20px;
}